.about-us-container {
    width: 1000px;
    /* margin: 0 auto; */
    /* padding: 20px; */
    /* background-color: red; */
    background-image: url('https://cdn.prod.website-files.com/66749f99929e6bbf9c89b9b8/673c6dd4f86078be7346f0d7_Golden_Gate_Nursery_2024_%40ES9_Photography_2024-23%20Optimized.webp');
    background-size: cover;
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    text-align: justify;
  }
  
  .about-us-heading {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .about-us-content {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }